<footer id="contacto">

     <section class="redes-sociales">
                  <h3 class="animate__animated animate__bounceInLeft animate__delay0.5s"  class="text-center">CONTACTO</h3>

        <div class="contenedor">

          <a  href="https://www.linkedin.com/in/francosalcedodev/" class="linkedin" target="_blank"><i class="fab fa-linkedin"  ></i></a>
          <a href="https://github.com/salcedofranco/" class="github"target="_blank"><i class="fab fa-github"  ></i></a>
          <a  href="https://wa.me/5402616590084" class="whatapps" target="_blank"><i class="fab fa-whatsapp"  ></i></a>
       </div>
            
      </section>

       <div class="fin"><p>Portfolio personal hecho por Franco Salcedo.</p> </div>


   </footer>

<script>
  const btnSwitch = document.querySelector('#switch');

  btnSwitch.addEventListener('click', () => {
    document.body.classList.toggle('dark');
    btnSwitch.classList.toggle('active');
  
  });

</script>

<script>$( document ).ready(function() {
  new WOW().init();
});</script>

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>