    <!-- Comienzo Header -->
 <section class= "header">
    <div class="bg">
   
      
        
        <div class="encabezado-texto">
          <h1 class="animate__animated animate__bounceInDown" data-wow-duration="2s" data-wow-delay=".5s">FRANCO SALCEDO</h1>
          <h3 class="animate__animated  animate__bounceInUp">Desarrollador de Software Junior</h3>
        </div>
 
      </div>
    </section>

    <!-- Fin Header -->