
* {
    scroll-behavior: smooth; /*efecto Scroll desde navbar*/
    box-sizing: border-box;
    
  }
  
  html{
      margin: 0;
      padding: 0;
      font-family: "Raleway";
    }

    body {
        margin: 0;
        padding: 0;
        font-family: "Raleway";
        transition: 0.3s ease all;
      }
      body.dark {
        background-image: url("../images/imagenHeader.jpg");       
      }



      /*----------------------------------Navbar------------------------------------*/
      .bg-dark {
        background:transparent !important;
        transition:0.75s ease;
    }
    .bg-dark.scrolled {
        background:rgb(197, 22, 22) !important;
    }

    .navbar-brand{
      color: #801477 !important;
      font-weight: bold;
      font-family: 'Raleway Regular', arial;
    }

    body.dark .navbar-brand{
      color: #ffffff !important;
      font-weight: bold;
      font-family: 'Raleway Regular', arial;

    }

    .nav-item a{
      
      font-weight: bold;
      
      font-family: 'Raleway Regular', arial;
      font-size: 18px;
     
     color: #e7900e!important;
     
     text-shadow: 1px 1px 2px rgb(26, 26, 26);
      
    }

    .nav-item a:hover{
      color: #8be760 !important;
    }

    body.dark .nav-item a:hover{
      color: #b858b0 !important;
    }



    body.dark .nav-item a{
      color: #e7900e!important;
      font-weight: bold;
      font-family: 'Raleway Regular', arial;
      text-shadow: 1px 1px 2px rgb(26, 26, 26);
      font-size: 18px;
    }





      /*----------------------------------Comienzo Header------------------------------------*/
.encabezado-texto{
    padding-top: 11em;
    padding-bottom: 11em ;
}

.encabezado-texto h1 {  
  font-size: 70px;
  color: #3a3a3a;
  margin: 0;
  text-shadow: 1px 1px 2px rgb(15, 15, 15);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center
}

body.dark .encabezado-texto h1 {
 
  color: #dbdbdb;
 
  text-shadow: 1px 1px 2px lightgrey;
  
}

.encabezado-texto h3{
  color: #af0d9a;
  margin: 0;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
  font-family: 'Raleway Regular', arial;
  font-weight: bold;
  font-size: 30px;
}
body.dark .encabezado-texto h3 {
  color: #1ec5a1;
  text-shadow: 1px 1px 3px #000;
}

@media only screen and (max-width: 350px) {
  .encabezado-texto h1 {  
    font-size: 50px;
    color: #3a3a3a;
    margin: 0;
    text-shadow: 1px 1px 2px rgb(15, 15, 15);
    font-family: 'Raleway Regular', arial;
    text-align: center
  }
}


    /*-----------------------------------------NOCHE DIA----------------------------------*/
  .switch {
    background: #343d5b;
    border-radius: 100px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
  }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .switch.active {
    background: orange;
    color: #000;
  }
  .switch.active::after {
    right: 0;
    left: unset ;
  }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
  }



  body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("../images/imagenHeader0.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  body.dark .bg{
    /* The image used */
    background-image: url("../images/imagenHeader.jpg");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }



  /*----------------------------------ACERCA DE MI------------------------------------*/
  .seccion-one {
    background-image: radial-gradient(circle at 1% 52%, rgba(139, 139, 139,0.05) 0%, rgba(139, 139, 139,0.05) 50%,rgba(21, 21, 21,0.05) 50%, rgba(21, 21, 21,0.05) 100%),radial-gradient(circle at 41% 28%, rgba(81, 81, 81,0.05) 0%, rgba(81, 81, 81,0.05) 50%,rgba(7, 7, 7,0.05) 50%, rgba(7, 7, 7,0.05) 100%),radial-gradient(circle at 48% 1%, rgba(93, 93, 93,0.05) 0%, rgba(93, 93, 93,0.05) 50%,rgba(7, 7, 7,0.05) 50%, rgba(7, 7, 7,0.05) 100%),linear-gradient(255deg, rgb(156, 41, 132),rgb(47, 14, 122));    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  body.dark .seccion-one{
    background-image: radial-gradient(circle at 33% 41%, rgba(250, 250, 250,0.03) 0%, rgba(250, 250, 250,0.03) 50%,rgba(37, 37, 37,0.03) 50%, rgba(37, 37, 37,0.03) 100%),radial-gradient(circle at 76% 49%, rgba(28, 28, 28,0.03) 0%, rgba(28, 28, 28,0.03) 50%,rgba(187, 187, 187,0.03) 50%, rgba(187, 187, 187,0.03) 100%),radial-gradient(circle at 41% 99%, rgba(247, 247, 247,0.03) 0%, rgba(247, 247, 247,0.03) 50%,rgba(120, 120, 120,0.03) 50%, rgba(120, 120, 120,0.03) 100%),radial-gradient(circle at 66% 27%, rgba(17, 17, 17,0.03) 0%, rgba(17, 17, 17,0.03) 50%,rgba(156, 156, 156,0.03) 50%, rgba(156, 156, 156,0.03) 100%),linear-gradient(194deg, rgb(20,98,107),rgb(1,82,80));
  }



  .seccion-one h2{
    color: #20df2a;
    font-family: 'Raleway Regular', arial;
    text-shadow: 1px 1px 3px #000;
  }

  body.dark .seccion-one h2{
    color: #a12dd6;
    text-shadow: 1px 1px 3px #000;

  }

  .seccion-one img {
    position: relative;
    margin-top:8px ;
     width: 300px;
     height: 300px;
     border-radius: 50%;
   }

   .about{
    margin-bottom: 30px;
     padding-bottom: 1em;
     position: relative;
   }
   .seccion-one h3{
     font-family: 'Raleway Regular', arial;
     font-size: 40px;
     color: #e7900e;
     padding-top: 1em;
     padding-bottom: 1em;
     text-shadow: 1px 1px 3px #000;
     font-weight: bold;
   }
   .about img{
     height: 100%;
     width: 100%;
     border-radius: 50%;
      
   }
   .about span{
     display: block;
     color: #c9c7c7;
     position: absolute;
     left: 115px;
   }
   .about .desc{
     padding: 1em;
     border-left:4px solid rgb(245, 132, 3);
   }
   .about .desc h3{
     color: #10828C;
   }
   .about .desc p{
     line-height:2;
     color:#cacaca;
   }


   /*-----------------------------------LOGROS 2019 2020-------------------------------------*/
   .certificado{
    
    background-image: url("../images/imagenHeader0.jpg");
  padding-top: 2em;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }


  body.dark .certificado{
    background-image: url("../images/imagenHeader.jpg");
  }

  .certificado h3{
    font-family: 'Raleway Regular', arial;
    font-size: 40px;
    color: #e7900e;
    padding-top: 10px ;
    padding-bottom: 1em;
    text-shadow: 1px 1px 3px #000;
    text-align: center;
    align-items: center;
    font-weight: bold;
  }
  
@media only screen and (max-width: 321px) {
    .certificado h3{
      font-family: 'Raleway Regular', arial;
      font-size: 35px;
      color: #e7900e;
      padding-top: 10px ;
      padding-bottom: 1em;
      text-shadow: 1px 1px 3px #000;
      text-align: center;
    align-items: center;
    }
  }
  

  .mdb-lightbox{
    position: relative;
    display: flex;
    width: 100%;
     flex-wrap: wrap;
     justify-content: center;
    margin: auto;
    padding-bottom: 1em;
  }

  .mdb-lightbox img{
    border-radius: 3%;
  }


     /*----------------------------------PROYECTOS Y PRACTICAS-------------------------------------*/
  
     .proyectoP{
      background-image: radial-gradient(circle at 1% 52%, rgba(139, 139, 139,0.05) 0%, rgba(139, 139, 139,0.05) 50%,rgba(21, 21, 21,0.05) 50%, rgba(21, 21, 21,0.05) 100%),radial-gradient(circle at 41% 28%, rgba(81, 81, 81,0.05) 0%, rgba(81, 81, 81,0.05) 50%,rgba(7, 7, 7,0.05) 50%, rgba(7, 7, 7,0.05) 100%),radial-gradient(circle at 48% 1%, rgba(93, 93, 93,0.05) 0%, rgba(93, 93, 93,0.05) 50%,rgba(7, 7, 7,0.05) 50%, rgba(7, 7, 7,0.05) 100%),linear-gradient(255deg, rgb(156, 41, 132),rgb(47, 14, 122));    
      padding-top: 2em;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

     }

     body.dark .proyectoP{
      background-image: radial-gradient(circle at 33% 41%, rgba(250, 250, 250,0.03) 0%, rgba(250, 250, 250,0.03) 50%,rgba(37, 37, 37,0.03) 50%, rgba(37, 37, 37,0.03) 100%),radial-gradient(circle at 76% 49%, rgba(28, 28, 28,0.03) 0%, rgba(28, 28, 28,0.03) 50%,rgba(187, 187, 187,0.03) 50%, rgba(187, 187, 187,0.03) 100%),radial-gradient(circle at 41% 99%, rgba(247, 247, 247,0.03) 0%, rgba(247, 247, 247,0.03) 50%,rgba(120, 120, 120,0.03) 50%, rgba(120, 120, 120,0.03) 100%),radial-gradient(circle at 66% 27%, rgba(17, 17, 17,0.03) 0%, rgba(17, 17, 17,0.03) 50%,rgba(156, 156, 156,0.03) 50%, rgba(156, 156, 156,0.03) 100%),linear-gradient(194deg, rgb(20,98,107),rgb(1,82,80));
     }

     .proyectoP h3{
      font-family: 'Raleway Regular', arial;
      font-size: 40px;
      color: #e7900e;
      padding-top: 10px ;
      padding-bottom: 1em;
      text-shadow: 1px 1px 3px #000;
      text-align: center;
      align-items: center;
      font-weight: bold;
    }

    .proyectoP .mdb-lightbox .content{
      text-align: center;
      padding-bottom: 1em;
    
      
    }

    .proyectoP .mdb-lightbox .content .bold{
      font-size: large;
      color: #fff;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      padding-bottom: 2px;
      padding-top: 4px;
      
    }
    .proyectoP .mdb-lightbox .content .descripcion{
      font-size: medium;
      color: #fff;
      margin: 0;
      font-family: 'Raleway Regular', arial;
      padding-bottom: 4px;
      
    }



    /*----------------------------------CURRICULUM-------------------------------------*/

    .curriculum{
      background-image: url("../images/imagenHeader0.jpg");
  padding-top: 2em;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
      
    }

    body.dark .curriculum{
      background-image: url("../images/imagenHeader.jpg");

    }

    .curriculum h3{
      font-family: 'Raleway Regular', arial;
      font-size: 40px;
      color: #e7900e;
      padding-top: 10px ;
      padding-bottom: 1em;
      text-shadow: 1px 1px 3px #000;
      text-align: center;
      align-items: center;
      font-weight: bold;
    }

    .curriculum .logos{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-bottom: 2em;
    }

    .curriculum .logos i{
      color: #7b3591; 
      padding-bottom: 2px;
    }

    body.dark .curriculum .logos i{
      color: rgb(20,98,107);
    } 

    .curriculum .logos p{
      font-family: 'Raleway Regular', arial;
      color: #a12dd6;
    }

    @media only screen and (max-width: 350px) {
      .curriculum .logos p{
        font-family: 'Raleway Regular', arial;
        font-size: 12px;
      }

    }


    body.dark .curriculum .logos p{
      color: rgb(20,98,107);
    } 



    .curriculum .logos .vercurriculum{
      display: flex;
      flex-direction: column;
      
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .curriculum .logos .vercurriculum i:hover{
      color: #457ee9;
    }
    

    .curriculum .logos .descargar{
      display: flex;
      flex-direction: column;
      
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    .curriculum .logos .descargar i:hover{
      color: red;
    }



    /*--------------------------------------REDES---------------------------------------*/
footer .redes-sociales {
  margin: 0 auto;
  background-image: radial-gradient(circle at 28% 93%, rgba(2, 2, 2,0.04) 0%, rgba(2, 2, 2,0.04) 50%,rgba(223, 223, 223,0.04) 50%, rgba(223, 223, 223,0.04) 100%),radial-gradient(circle at 13% 75%, rgba(185, 185, 185,0.04) 0%, rgba(185, 185, 185,0.04) 50%,rgba(25, 25, 25,0.04) 50%, rgba(25, 25, 25,0.04) 100%),radial-gradient(circle at 79% 39%, rgba(34, 34, 34,0.04) 0%, rgba(34, 34, 34,0.04) 50%,rgba(57, 57, 57,0.04) 50%, rgba(57, 57, 57,0.04) 100%),linear-gradient(56deg, rgb(39, 37, 178),rgb(169, 88, 194));
  padding: 2rem;
  }

body.dark footer .redes-sociales{
  background-image: radial-gradient(circle at 33% 41%, rgba(250, 250, 250,0.03) 0%, rgba(250, 250, 250,0.03) 50%,rgba(37, 37, 37,0.03) 50%, rgba(37, 37, 37,0.03) 100%),radial-gradient(circle at 76% 49%, rgba(28, 28, 28,0.03) 0%, rgba(28, 28, 28,0.03) 50%,rgba(187, 187, 187,0.03) 50%, rgba(187, 187, 187,0.03) 100%),radial-gradient(circle at 41% 99%, rgba(247, 247, 247,0.03) 0%, rgba(247, 247, 247,0.03) 50%,rgba(120, 120, 120,0.03) 50%, rgba(120, 120, 120,0.03) 100%),radial-gradient(circle at 66% 27%, rgba(17, 17, 17,0.03) 0%, rgba(17, 17, 17,0.03) 50%,rgba(156, 156, 156,0.03) 50%, rgba(156, 156, 156,0.03) 100%),linear-gradient(194deg, rgb(20,98,107),rgb(1,82,80));

}
  
  footer .redes-sociales h3{
    font-family: 'Raleway Regular', arial;
      font-size: 40px;
      color: #e7900e;
      padding-top: 10px ;
      padding-bottom: 1em;
      text-shadow: 1px 1px 3px #000;
      text-align: center;
      align-items: center;
      font-weight: bold;
    }

    body.dark footer .redes-sociales h3{
      color: #ff7b00;

    }

footer .redes-sociales a{
    color :#fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}

footer  .redes-sociales .contenedor{
  display: flex;
  justify-content: center;
  }


footer .redes-sociales .linkedin:hover{
  background: #0093ce;
  }
footer .redes-sociales .github:hover{
    background: #6e5494;
  }

footer .redes-sociales .whatapps:hover{
    background: #25d366;  
  }



/*----------------FIN------------------------------*/
.fin{
  font-family: sans-serif;
background-color: rgb(114, 235, 134);

  color: #f0f0f0;
  padding-top: 15px;
  display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

body.dark .fin{
background-color: rgb(14, 14, 14);
}

.fin img:hover{
  width: 50px;
  transform: scale(3.5);
}


