<!-- Comienzo Seccion One -->
        <section>
            
          <div class="seccion-one" id="about">
            <div > <h3  class="text-center">SOBRE MI</h3></div>
            <div class="about" >
              <div  class="container">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div ><img  src="images/fotocv1.jpg" class="img-fluid"  ></div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 desc">
                    
                    <h2 >Hola,</h2>
                    <p >
                       me llamo Franco Salcedo, soy de Mendoza - Argentina y hace ya un tiempo que me anime a meterme en el mundo de sistemas,
                      desde entonces trato de estar en constante aprendizaje, ya sea con cursos presenciales como también de forma autodidacta, 
                      además consulto y formo parte de algunas comunidades de desarrolladores en discord y slack que me ayudan a resolver problemas junto a mi mejor compañero (google).

                      <p >Actualmente estoy cursando Javascript/Node dictado por IDITS y online con Udemy.</p>

                      <p >Fuera del ambito del software lo que más me gusta es estar en familia, juntarme con amigos, jugar al futbol, compartir asados y ver series. </p>
                    
                    </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </section>

      <!-- FIN Seccion One -->


      


<!-- Comienzo Seccion Three Cetificaciones -->
  
  <section>

  <div class="certificado">      
    
 <h3  class="text-center">CAPACITACIONES</h3>

    <div class="container" >
     
      
      <div class="row">
        
        <div class="col-md-12">
          

      
          <div id="mdb-lightbox-ui"></div>

          <div class="mdb-lightbox">
            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
              <a class="animate__animated animate__pulse" href="http://imgfz.com/i/Baf9Vli.jpeg" >
                <img   alt="picture" src="images/salcedo.jpg" class="img-fluid" />
              </a>
            </figure>
      
            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
              <a href="http://imgfz.com/i/WcInsNS.jpeg" >
                <img alt="picture" src="images/salcedoScrum.jpg" class="img-fluid" />
              </a>
            </figure>
      
            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
              <a href="http://imgfz.com/i/uLQkCtF.jpeg" data-size="1600x1067">
                <img alt="picture" src="images/certificadoYpf.jpg" class="img-fluid" />
              </a>
            </figure>
      
            <figure   class="col-md-3 col-md-4 col-sm-6 col-xs-12">
              <a href="http://imgfz.com/i/9QadBki.jpeg" data-size="1600x1067">
                <img   alt="picture" src="images/CertificadoPhpInicial1.jpg" class="img-fluid"  />
              </a>
            </figure>

            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
              <a href="http://imgfz.com/i/WcInsNS.jpeg" data-size="1600x1067">
                <img alt="picture" src="images/certificadoCodigoF.jpg" class="img-fluid" />
              </a>
            </figure>

            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
              <a href="http://imgfz.com/i/WcInsNS.jpeg" data-size="1600x1067">
                <img alt="picture" src="images/certificadoJsCodigoF.jpg" class="img-fluid" />
              </a>
            </figure>
          </div>
      
        </div>
      </div>

      </div>
  </div> 
    

</section>

<section>

  <div class="proyectoP" id="project">      
    
 <h3  class="text-center">PROYECTOS Y PRACTICAS</h3>

    <div class="container" >
      
      <div class="row">
        <div class="col-md-12">
      
          <div id="mdb-lightbox-ui"></div>

          <div class="mdb-lightbox">
            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <img  alt="picture" src="images/imagenAgencia.jpg" class="img-fluid">
              <div class="content">
                <b><p class="bold">AGENCIA DE VIAJES</p></b> 
                <p class="descripcion" style="font-size:0.9em;">Node, express, pug, sequelize, mysql , heroku.</p>
                <a href="https://agencia-de-viajes-node.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
              </div>
            </figure>
      
            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <img alt="picture" src="images/imagenMovies1.jpg" class="img-fluid">
              <div class="content">
                <b><p class="bold">APP INFO DE PELICULAS</p></b> 
                <p class="descripcion" style="font-size:0.9em;">Node, express, Api: The movie DB</p>
                <a href="https://tutorial-search-movies.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
              </div>
            </figure>
      
            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <img alt="picture" src="images/imagenLabarra.jpg" class="img-fluid">
              <div class="content">
                <b><p class="bold">WEB LA BARRA</p></b> 
                <p class="descripcion" style="font-size:0.9em;">Html, css, bootstrap y javascript</p>
                <a href="https://labarramendoza.netlify.app/" class="btn btn-outline-success" >Ver Proyecto</a>
              </div>
            </figure>
      
            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <img alt="picture" src="images/crudFutbol.jpg" class="img-fluid">
              <div class="content">
                <b><p class="bold">CRUD</p></b> 
                <p class="descripcion" style="font-size:0.9em;">Node, express, ejs y mongodb.</p>
                <a href="https://crud-futbol.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
              </div>
            </figure>

            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <img alt="picture" src="images/imagenWebBlog.jpg" class="img-fluid">
              <div class="content">
                <b><p class="bold">WEB - BLOG</p></b> 
                <p class="descripcion" style="font-size:0.9em;">Node, express y handlebars</p>
                <a href="https://proyecto-web-blog.herokuapp.com/index" class="btn btn-outline-success" >Ver Proyecto</a>
              </div>
            </figure>

            <figure class="col-md-3 col-md-4 col-sm-6 col-xs-12">
                <img alt="picture" src="images/imagenNode.jpg" class="img-fluid">
              <div class="content">
                <b><p class="bold">BUSCADOR DE BARES</p></b> 
                <p class="descripcion" style="font-size:0.9em;">Node, express y handlebars</p>
                <a href="https://proyectonodejs-primermuestra.herokuapp.com/" class="btn btn-outline-success" >Ver Proyecto</a>
              </div>
            </figure>
          </div>
      
        </div>
      </div>

      </div>
  </div> 
    

</section>

<section class="curriculum">
  <h3  class="text-center">MI CURRICULUM</h3>

  <div class="logos">
    <div class="vercurriculum"> 
      <a href="https://i.ibb.co/0qncjYZ/Franco-salcedo-Cv-page-0001.jpg"><i class="fas fa-id-card fa-5x"></i></a>
      <b><p>Ver curriculum</p></b>
    </div>
    <div class="descargar"> 
      <a href="https://www.pdfhost.net/index.php?Action=DownloadFile&id=c6883983323b65e3902f9c7dab1a6984"><i class="fas fa-download fa-5x"></i> </a> 
      <b><p>Descargar curriculum PDF</p></b> 
    </div>
</div>


</section>

 

